body {
  background-color:lightgray;

}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: rgb(0, 0, 0);
   border: 3px solid black;
   border-radius: 10px;
}

section{
  display: flex;
  flex-direction: row;
  background-color:lightgray;
}

div{
  background-color:rgb(144, 160, 240)
  aliceblue;
}

.leftside {
  text-align: left;
  color: rgb(26, 24, 24);
  flex: 1;
}

.rightside,.text{
  text-align:center;
}
 tbody{
  background-color: rgb(90, 16, 132);
  color: rgb(112, 197, 239);
}